.collapse {
    padding: 10px;
}

li {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
}

li>a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #222222;
    font-size: 1.3em;
}

li>a:hover {
    text-decoration: underline;
    color: rgba(10, 20, 112, 0.6);
}